<h2 class="text-info">Create a new bookmark!</h2>

<div>
  <%= render "form", bookmark: @bookmark %>
</div>

<%= link_to "Go back to List", list_path(@list) %>
<%= link_to "Go back to all lists", root_path %>
